@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
 --blue-500: #0066cc;       
}
body{
    background-image: url(../images/templatemo_bg.gif);
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif;
}
.parent{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/templatemo_side_bg.gif);
    background-repeat: repeat-x;
    padding: 20px 0px;
}
.container{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12px;
    overflow-x: hidden;
    padding: 0px 12px;
    padding-bottom: 20px;
    background: white;
}
header{
    background-image: url(../images/templatemo_top_bg.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    padding-top: 50px;
    padding-left: 40px;
    width: calc(100% + 42px);
    margin-left: -22px;
    border-radius: 12px;
}
header ul li{
    float: left;
    list-style-type: disc;
    margin-right: 12px;
    list-style-position: inside;
}
header ul li:first-child{
    list-style: none;
}
header ul a{
    color: blue;
}
header ul a:hover{
    text-decoration: underline;
    color: green;
}
#Banner{
    height: 150px;
    background-image: url(../images/templatemo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 16px;
}
#Banner h1{
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}
#Banner p{
    color: #aaffff;
    font-size: 13px;
    margin-top: 8px;
    font-weight: 500;
}
main, aside{
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
}
main{
    width: calc(70% - 12px);
    float: left;
}
aside{
    width: 30%;
    float: right;
}
main h2,
main h3{
    color:var(--blue-500);
}
main p{
    font-weight: 500;
    margin-top: 20px;
}
main .article-list{
    margin-top: 40px;
}
main article{
    margin-top: 20px;
    background-color: #f6f6f6;
}
main article h3{
    background-color: #ddeeff;
    padding: 8px 12px;
}
main .article-text{
    padding: 16px;
}
main .article-text img{
    float: left;
    margin-right: 12px;
    border: 2px solid;
}
main .article-footer{
    color: #999999;
    font-weight: 600;
    padding: 0px 16px 40px;
}
main .article-footer div{
    float: left;
}
main .article-footer ul{
    float: left;
    margin-left: 12px;
}
main .article-footer li{
    float: left;
    margin-right: 12px;
}
main .article-footer li::before{
    content: "•";
    margin-right: 8px;
}
main .article-footer li:first-child::before{
    content: "";
}