@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url(../images/templatemo_bg.gif);
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif;
}
.parent{
    width: 100%;
    height: 100vh;
    background-image: url(../images/templatemo_side_bg.gif);
    background-repeat: repeat-x;
    padding: 20px 0px;
}
.container{
    width: 50%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 0px 12px;
    background: white;
}
header{
    background-image: url(../images/templatemo_top_bg.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    padding-top: 50px;
    padding-left: 40px;
    width: calc(100% + 42px);
    margin-left: -22px;
    border-radius: 12px;
}
header ul li{
    float: left;
    list-style-type: disc;
    margin-right: 12px;
    list-style-position: inside;
}
header ul li:first-child{
    list-style: none;
}
header ul a{
    color: blue;
}
header ul a:hover{
    text-decoration: underline;
    color: green;
}
#Banner{
    height: 150px;
    background-image: url(../images/templatemo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 16px;
}
#Banner h1{
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}
#Banner p{
    color: #aaffff;
    font-size: 13px;
    margin-top: 8px;
    font-weight: 500;
}
main, aside{
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 400px;
}
main{
    width: calc(70% - 12px);
    float: left;
}
aside{
    width: 30%;
    float: right;
}